.privacypolicy:hover {
   color: var(--color-LGred);
}

.input,
.textarea {
   width: 500px;
   padding: 10px;
   border: 1px solid var(--color-LGgray);
   border-radius: 3px;
}

.textarea {
   height: 200px;
}

.link:hover {
   text-decoration: none;
}

.linkBox1,
.linkBox2 {
   width: 100%;
   padding: 30px 0;
   border-radius: 10px;
   box-shadow: 4px 4px 4px var(--color-LGgray);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.linkBox1:hover {
   border: 3px solid var(--color-white);
   transition: all 0.5s ease;
} 

.linkBox2:hover {
   border: 3px solid var(--color-LGgray);
   transition: all 0.5s ease;
} 

@media screen and (max-width: 900px) {
   .linkBox {
      padding: 30px 0;
      gap: 5px;
   }   
}

@media screen and (max-width: 900px) {
   .input,
   .textarea {
      width: 350px;
   }   
}

@media screen and (max-width: 600px) {
   .input,
   .textarea {
      width: 200px;
   }   
}

.buttonRed {
   width: 200px;
   padding: 15px 20px;
   background-color: var(--color-LGred);
   font-size: 1rem;
   color: var(--color-white);
   text-align: center;
   border: none;
   border-radius: 26px;
   box-shadow: 3px 3px 3px var(--color-LGgray);
   transition: all 0.3s ease;
   cursor: pointer;
}

.buttonRed:hover {
   text-decoration: none;
   transform: scale(1.05);
}