.container {
   width: 100%;
   margin-top: 10vh;
   display: flex;
   flex-direction: column;
   justify-content:  center;
   align-items: center;
   gap: 4vh;
}

.mission_1,
.slogan_1,
.fields_1,
.oi_1 {
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--cnt-bg-color);
   padding: 3vh;
   gap: 3vh;
}

.mission_2,
.slogan_2 {
   width: 100%;
}

.mission_3,
.slogan_3 {
   width: 100%;
   margin: auto;
   padding: 15px;
   text-align: center;
}

.fields_2 {
   width: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 3vh;
   background-color: var(--cnt-bg-color);
   padding: 15px;
}

.fields_3 {
   display: flex;
   flex-direction: row;
   gap: 3%;
}

.fields_4 {
   flex: 1;
   text-align: right;
}

.fields_5 {
   flex: 4;
}

.oi_2 {
   width: 80%;
}