.lgciContainer {
   width: 100%;
   /* padding: 0 var(--padding-basic); */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   gap: var(--gap-basic);
}

.lgwayContainer {
   width: 100%;
   /* padding: var(--padding-basic); */
   display: flex;
   flex-direction: column;
   justify-content:  center;
   align-items: center;
   /* background-color: var(--color-bg-content); */
   gap: var(--gap-basic);
}