.required {
   width: 35px;
   font-size: 0.75rem;
   text-align: center;
   color: var(--color-white);
   background-color: var(--color-LGred);
   border-radius: 12px;
}

.input,
.textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid var(--color-LGgray);
   border-radius: 3px;
}

.textarea {
   height: 200px;
}

.addQuantity {
   flex-basis: 27.25%;
   width: 100%;
   padding: 10px;
   text-align: center;
   border: 1px solid var(--color-LGgray);
   border-radius: 3px;
}

.addQuantity:hover {
   cursor: pointer;
   color: var(--color-LGred);
   border: 1px solid var(--color-LGred);
}

.buttonRed {
   width: 200px;
   padding: 15px 20px;
   background-color: var(--color-LGred);
   font-size: 1rem;
   font-weight: 600;
   color: var(--color-white);
   text-align: center;
   border: none;
   border-radius: 26px;
   box-shadow: 3px 3px 3px var(--color-LGgray);
   transition: all 0.3s ease;
   cursor: pointer;
}

.buttonRed:hover {
   text-decoration: none;
   transform: scale(1.05);
}

.linkBox {
   width: 100%;
   padding: 40px 0;
   color: var(--color-black);
   background-color: var(--color-LGgray-light);
   border: 1px solid var(--color-LGgray-light);
   border-radius: 10px;
   box-shadow: 4px 4px 4px var(--color-LGgray);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.linkBox:hover {
   text-decoration: none;
   color: var(--color-LGred);
   border: 1px solid var(--color-LGred);
   transition: all 0.5s ease;
}

.modalBtn {
   padding: 20px;
   font-size: 1.2rem;
   font-weight: 600;
   border: 1px solid var(--color-LGgray);
}

.modalBtn:hover {
   text-decoration: none;
   cursor: pointer;
   color: var(--color-LGred);
   border: 1px solid var(--color-LGred);
   transition: all 0.5s ease;
}

.privacypolicy:hover {
   color: var(--color-LGred);
}