:root {
   --width-page: 1920px;

   --height-page: 100dvh;
   --height-nav: 100px;

   --padding-basic: 2%;

   --margin-basic: 5dvh;
   --gap-basic: 5dvh;

   --font-normal: 16px;
   --font-small: 14px;

   --weight-normal: 500;
   --weight-bold: 600;

   --color-bg: #fff;
   --color-bg-content: #eee;

   --color-LGred: #A50034;
   --color-LGgray: #6B6B6B;
   --color-LGgray-light: #EBEBEB;
}

@media screen and (max-width: 900px) {
   :root {
      --font-normal: 14px;
      --font-small: 12px;
   }
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* border: 1px solid red; */
}

html,
body {
   font-family: "LG Smart Font", sans-serif;
   max-width: 100vw;
   overflow-x: hidden;
   font-size: var(--font-normal);
   font-weight: var(--weight-normal);
   color: var(--color-LGgray);
   background-color: var(--color-bg);
}

ul {
   list-style: none;
   color: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: underline;
   text-underline-offset: 4px;
}

.globalContainer {
   max-width: var(--width-page);
   min-height: calc( var(--height-page) - var(--height-nav) );
   margin: auto;
   margin-top: calc( var(--height-nav) - 20px );
   margin-bottom: 3dvh;
   padding: var(--padding-basic);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pageContainer {
   width: 100%;
   margin: var(--margin-basic) auto; 
   display: flex;
   flex-direction: column;
   justify-content:  center;
   align-items: center;
   gap: var(--gap-basic);
}
