.navContainer {
   max-width: var(--width-page);
   height: var(--height-nav);
   margin: auto;
   padding: 0 var(--horizontal-basic);
}

.toggle {
   position: relative;
   width: 32px;
   height: 32px;
   display: grid;
   place-items: center;
   inset: 0;
}

.toggleMenu,
.toggleClose {
   font-size: 28px;
   color: var(--color-LGgray);
   position: absolute;
   cursor: pointer;
   transition: opacity 0.1s, transform 0.4s; 
}

.toggleClose {
   opacity: 0;
}

@media screen and (max-width: 900px) {
   .menuContainer {
      position: absolute;
      top: calc( var(--height-nav) - 30px );
      left: 0;
      width: 100%;
      /* height: calc( (var(--height-page) - var(--height-nav))*2/3 ); */
      overflow: auto;
      padding: 10px 40px 7dvh 40px;
      background-color: var(--color-LGgray-light);
      /* box-shadow: 0 6px 8px var(--color-LGgray-light); */
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
   }
}

@media screen and (max-width: 300px) {
   .menuContainer {
      padding: 24px 12px;
   }
}

.listTitle {
   width: 100%;
   color: var(--color-LGgray);
   font-weight: var(--weight-bold);
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

.listTitle:hover { 
   color: var(--color-LGred);
}

.showMenu {
   opacity: 1;
   top: var(--height-nav);
   pointer-events: initial;
}

.showIcon .toggleMenu {
   opacity: 0;
   transform: rotate(90deg);
}

.showIcon .toggleClose {
   opacity: 1;
   transform: rotate(90deg);
}

.dropdownArrow {
   font-size: 24px;
   font-weight: initial;
   transition: transform 0.4s;
}

.dropdownContainer {
   height: 0;
   overflow: hidden;
   transition: height 0.4s;
}

.showDropdown,
.dropdownItem {
   display: flex;
   flex-direction: column;
   background-color: var(--color-LGgray-light);
}

.dropdownList {
   padding: 0 40px;
}

.dropdownTitle {
   font-size: var(--font-small);
   font-weight: var(--weight-bold);
}

.dropdownTitle:hover { 
   color: var(--color-LGred);
}

.showDropdown .dropdownArrow {
   transform: rotate(180deg);
}

@media screen and (min-width: 900px) {

   .menuContainer {
      flex-grow: 1;
   }

   .navContainer {
      display: flex;
      justify-content: space-between;
   }

   .toggle {
      display: none;
   }

   .listContainer {
      display: flex;
      flex-direction: row;
      /* gap: 10px; */
      height: 100%;
   }

   .listSpace {
      flex-grow: 1;
   }

   .listTitle {
      height: 100%;
      padding: 10px 20px;
      pointer-events: none;
   }

   .dropdownContainer {
      position: absolute;
      top: calc( var(--height-nav) - 30px );
      left: 0;
      right: 0;
      max-width: var(--width-page);
      height: calc( var(--height-nav) - 25px );
      margin: 0 auto;
      pointer-events: none;
      opacity: 0;
      transition: top 0.3s, opacity 0.5s;
   }

   .dropdownItem {
      width: calc( 100% - var(--horizontal-basic) * 2 );
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }

   .dropdownList {
      padding: 0px;
   }

   .listItem:hover .listTitle {
      color: var(--color-LGred);
   }

   .listItem:hover .dropdownArrow {
      transform: rotate(180deg);
   }

   .listItem:hover > .dropdownContainer {
      top: calc( var(--height-nav) - 15px );
      /* padding: 0 var(--horizontal-basic); */
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
   }
}

@media screen and (min-width: 1536px) {
   .listTitle {
      padding: 10px 50px;
   }
}