.site {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 20px;
   padding: 3dvh;
   /* background-color: var(--color-bg-content); */
}

@media screen and (max-width: 900px) {
   .site {
      flex-direction: column;
   }
   
}

.link:hover {
   color: var(--color-LGred);
}