:root {
   --width-page: 1920px;

   --height-page: 100dvh;
   --height-nav: 100px;

   --horizontal-basic: 10px;
   --margin-page-basic: 50px;
   --margin-basic: 5dvh;

   --gap-basic: 10dvh;

   --font-normal: 16px;
   --font-small: 14px;

   --weight-normal: 500;
   --weight-bold: 600;

   --color-bg: #fff;
   --color-bg-content: #eee;

   --color-LGred: #A50034;
   --color-LGgray: #6B6B6B;
   --color-LGgray-light: #EBEBEB;

   --color-black: #000;
   --color-white: #fff;

}

@media screen and (max-width: 1200px) {
   :root {
      --font-normal: 14px;
      --font-small: 12px;

      --horizontal-basic: 5px;
   }
}

@media screen and (max-width: 600px) {
   :root {
      --font-normal: 12px;
      --font-small: 10px;

      --weight-normal: 400;
      --weight-bold: 500;
   }
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* border: 1px solid red; */
}

html,
body {
   /* font-family: "LG Smart Font", sans-serif; */
   overflow-x: hidden;
   font-size: var(--font-normal);
   font-weight: var(--weight-normal);
   color: var(--color-LGgray);
   background-color: var(--color-bg);
}

ul {
   list-style: none;
   color: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: underline;
   text-underline-offset: 4px;
}

.globalContainer {
   max-width: var(--width-page);
   /* min-height: calc( var(--height-page)/2 - var(--height-nav) ); */
   margin: auto;
   margin-top: calc( var(--height-nav) - 20px );
   /* margin-bottom: 3dvh; */
   padding: var(--horizontal-basic);
   padding-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pageContainer {
   width: 100%;
   margin: var(--margin-page-basic) auto;
   display: flex;
   flex-direction: column;
   justify-content:  center;
   align-items: center;
   gap: var(--gap-basic);
}

@media screen and (max-width: 900px) {
   .pageContainer {
      /* margin: calc(var(--margin-page-basic)/2) auto;  */
      gap: calc( var(--gap-basic)/2 );
   }
}
